<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Weather</title>
       <link rel="stylesheet" href="/css/index.css">
       <link rel="stylesheet" href="/css/global.css">
   </head>
   
   <body class="overallContainer">
       <div class="flexbox-item">
           <h1 class="flexbox-item-1">The Weather</h1>
           <div class="flexbox-item-1">
               <img src="/images/cloud_.png" alt="cloud and sun icon">
               <div class="flexbox-item-3 animation">
                   <button id="Click" onclick="PressSpacebar()">Press Spacebar to continue</button>
               </div>
           </div>
       </div>

       <!-- Corrected script paths -->
       <script src="/js/index.js"></script>
       <script src="/js/global.js"></script>
   </body>
</html>
