<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <header>
        <nav>
            <h1>The Weather</h1>
            <img src ="/images/cloud_.png" alt="This represents of a cloud">
                <a class="menu-option" data-page="home" id="homeLink">Home</a>
                <a class="menu-option" data-page="registration" id="registrationLink">Registration</a>
                <a class="menu-option" data-page="profile" id="profileLink">Profile</a>
        
        </nav>
    </header>

    <div class="overallContainer">
        <div class="container2" >
            
            <div class="containerLogin">
                <div class="formLogin">
                    <span class="title">Profile</span>
                    <img class="image_1" src="/images/cloud_.png" height="30" alt="This represents of a cloud">

                    <div class="input-field">
                        <div class="input-field b">
                            <div class="">
                                <form action="#">
                                    <input id ="firstName" type="text" placeholder="First Name" required>
                                    <i class="uil uil-user"></i>
                                </form>
                            </div>

                            <div class="input-field">
                                <form action="#">
                                    <input id ="lastName" type="text" placeholder="Last Name" required>
                                    <i class="uil uil-user"></i>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="input-field">
                        <div class="input-field">
                            <form action="#">
                                    <label for="phone"></label>
                                    <input type="tel" id="phone" placeholder="Phone Number"  name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                                    <i class="uil uil-phone"></i>
                            </form>
                        </div>
                    </div>

                    <div class="input-field">
                        <form action="#">
                            <h5>Date Of Birth</h5>
                            <input id ="birthD" type="date" required>
                            <i class=""></i>
                        </form>
                    </div>


                    <div class="input-field">
                        <form action="#">
                            <input type="email" placeholder="Email" required>
                            <i class="uil uil-envelope icon"></i>
                        </form>
                    </div>

                    <div>
                        
                        <button class="input-field c" id="saveButton">Save</button>
                        <button class="input-field c" id="backButton">Back</button>
                        
                        
                     
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>

    <script src="/js/global.js"></script>
    <script src="/js/profile.js"></script>
</body>
</html>
